
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;800&display=swap');
@import './base.scss';
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Epilogue',sans-serif !important;
}

html{
    overflow-x:hidden ;
}

body{
    background:$bg-black;
}

button,select,input{
    font-family:'Epilogue',sans-serif;
}

img{
    width:100%;
}

.container{
    max-width:1440px;
    padding:111px 24px;
    width:100%;
   
    margin:0 auto;
    display:flex;
    align-items: center;

    @include phone(){
        flex-direction: column;
    }
}

.flex-item-1{
    flex:1 1 360px;
}

.flex-item-2{
    flex:2 1 360px;
}